.tab-background-bar * {
    margin: 0;
    padding: 0;
}

div.tab-background-bar {
    background-color: lightgray;

    background-image: linear-gradient(white, rgb(238, 237, 237));
    border-bottom: 1px solid lightgray;

    margin-bottom: 0;
    padding-top: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

div.tab-area {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

div.tab {
    background-color: rgb(201, 201, 201);
    color: #222d31;
    margin-left: 10px;
    padding: 0.6rem 20px;
    margin-bottom: -1px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    cursor: pointer;
}

div.tab:hover {
    background-color: rgb(230, 230, 230);
    color: black;
}

div.active-tab {
    background-color: white;
    color: #444;
    border-top: 5px solid rgb(0, 127, 255);

    border-radius: 0px;
    padding-top: 0.4rem;
}

div.active-tab:hover {
    background-color: white;
}

span.count-badge {
    background-color: #222d31;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
    height: 16px;
    border-radius: 8px;
    margin-left: 18px;
}

div.active-tab span.count-badge {
    background-color: rgb(0, 127, 255);
}

div.hidden-badge {
    display: none;
}

div.filter-options-div {
    font-size: 1rem;
    margin-right: 20px;
    padding-bottom: 0.4rem;
}

p.filter-link {
    color: rgb(0, 127, 255);
    cursor: pointer;
}

p.filter-link:hover {
    color: rgb(0, 98, 196);
    text-decoration: underline;
}

div.filter-options-pane {
    width: 400px;

    /* float: left; */
    margin-left: -420px;
    margin-top: 5px;
    position: absolute;

    line-height: 2.4rem;

    color: black;
    background-color: white;

    box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.25);
    border: 3px solid #222d31;
    border-radius: 10px;
    padding: 0.8rem 30px 1.6rem 30px;
}

.filter-options-pane button {
    float: right;
    padding: 0.2rem 15px;

    outline: none;
    border: 2px solid #888;
    box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    /* color: ghostwhite; */
    background-color: rgb(0, 127, 255);
    border: 2px solid rgb(0, 127, 255);
}

.filter-options-pane button *:first-child {
    margin-right: 10px;
}

.filter-options-pane button:hover {
    color: white;
    background-color: rgb(0, 98, 196);
    border: 2px solid rgb(1, 74, 148);
}

div.filter-display {
    text-align: right;
    font-weight: bold;
    font-size: 0.8rem;
    color: #373d3f;
    margin-right: 20px;
}

div.filter-display p {
    margin-top: 0.8rem;
    line-height: 0.8rem;;
}

.filter-options-pane .filter-display {
    text-align: left;
}

div.card-area {
    margin-top: 0;
    padding-top: 0.4rem;
}

span.no-requests-span {
    margin-left: 40px;
    color: #373d3f;
}

@media only screen and (max-width: 700px) {
    h2 {
        margin-bottom: 0.4rem;
    }

    div.tab-area {
        padding-left: 0px;
    }

    div.tab {
        margin-left: 2px;
        padding: 0.2rem 10px;
    }

    div.tab h4 {
        font-size: 0.8rem;
        font-weight: bold;
    }

    div.active-tab {
        border-top: 3px solid rgb(0, 127, 255);
    }

    span.count-badge {
        font-size: 0.2rem;
        font-weight: normal;
        padding: 0rem 8px;
        border-radius: 100%;
        margin-left: 2px;
        display: none; 
    }

    div.filter-options-div {
        margin-right: 2px;
        font-size: 0.4rem;
    }
}