/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:600|Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.alert {
    background-color: #b5000b;
    margin: 50px;
}

form {
    background-color: #e6e7e6;
    max-width: 70vw;
    margin: 20px auto;
    padding: 0.4rem 20px;
    border-radius: 5px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #9d2b33;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #b5000b;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

/* Change font for all headings */
h1, h2 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    color: #444;
}

h3, h4, h5, h6 {
    font-weight: bold;
}

/* Basic table styling */
table {
  border-collapse: collapse;
}

th, td {
    padding: 0.2rem 20px;
}

th {
    color: whitesmoke;
    background-color: #222d31;
}

td {
    border-bottom: 1px solid #ccd1ca;
}

table {
  border-bottom: 5px solid #222d31;
}

/* Horizontal padding for page contents  */
div.page-container {
  width: 95vw;
  margin: 0 auto;
} 