.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 3vw;
}

.nav {
  overflow: hidden;
  background-color: #222d31;
  min-width: 100vw;
}

.counter-balance {
  display: none;
}

@media only screen and (max-width: 700px) {
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    color: #f2f2f2;
    margin-left: 5vw;
  }

  .counter-balance {
    display: block;
    color: #222d31;
    width: 40px;
  }
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #222d31;
  text-align: center;
  padding: 24px 10px;
  margin: 0;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #9d2b33;
}

.nav-right {
  float: right;
  margin-right: 3vw;
}